* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

/* === Estilos globais === */
.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: -3rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
   
    margin: 10px auto;
    
}

/* ===  1ª secao === */
.topo {
    background-color: #afddfb;
}

.topo img {
    width: 150px;
}

.paragrafo-topo a {
    color: #fff;
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

a:hover {
    opacity: 0.7;
}

a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 2px;
    left: 0;
    transition: 0.3s; 
}

a:hover::after {
    width: 100%;
}

.link-topo {
    color: #1d1d1d;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 2px solid #1d1d1d;
}

/* ===  2ª secao === */

.banner {
    padding-top: 0;
    margin-top: 50px;
}

/* ===  estilos para destaque === */

span {
    font-weight: bold;
}

/* ===  3ª secao === */

h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

h2 {
    font-weight: normal;
    color: #1c81c0;
    margin-top: 0;
}

.imagem {
    width: 450px;
}

.texto-azul {
    color: #1d80c1;
}

/* ===  4ª secao === */
.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.servicos, .contato {
    background-color: #1d80c1;
}

h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.paragrafo-servicos {
    color: #ffffff;
    line-height: 42px;
    width: 700px;
    font-size: 22px;
    text-align: center;
}

.texto-amarelo {
    color: #fff81b;
}

.lista-servicos {
    width: 135px;
    margin: 40px auto 40px;
}

.item-lista-servicos {
    font-size: 22px;
    line-height: 42px;
    text-align: left;
    color: #fff;
}

/* ===  6ª secao === */

.paragrafo-contato {
    color: #fff;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lista-contato {

    list-style: none;
    margin: 40px auto 40px;
}

.item-lista-contato {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.link-contato {
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius:25px;
}
